

.parallax {

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body html{
  height: 100%;
  width: 100%
  
  text-rendering: optimizeLegibility;
  *webkit.font-smoothing: antialised;
  border: 0;
  margin: 0;
  padding: 0;
}

p{
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Julius Sans One', sans-serif;

}

.frame{
  height: 100%;
  width: 100%;
  padding: 3em 0 3em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
}

/*End of general section*/
/*Beginning of the header section*/

.header{

  background-image: url(../img/hy.jpg);
  height: 660px;
}

.header a{
  margin-left: 40%;
  height: 5%;
  width: 10%;
}

.header a img{
  width: 7%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

#abttxt
#abtp{
  display: none;
}

.header h1{
  font-size: 80px;
  font-weight: 70%;
  padding-top: 15%;
  color: white;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;

}

.header p{
  font-family: 'Sacramento', cursive;
  color: white;
  text-align: right;
  font-size: 60px;
  padding-right: 10%;


}

.header h1,
.header p,
.header button{
  margin-top:24px;
}

/*Begin aboutme section*/

.aboutme{
  background-color: white;
  padding-top: 15%;
  height: 500px;
}

.aboutme p{
  font-size: 16px;
  line-height: 30px;
}

/*End aboutme section*/
/*Begin motto section*/
.motto{
  height: 500px;

}



.video-container{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 40em;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

.fullwidth{
  overflow: hidden;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.motto h1{
  font-family: 'Julius Sans One', sans-serif;

}

.motto p{
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  padding-top: 1%;

}

.motto img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 11.5em;
  overflow: hidden;
  margin-top: 2em;

}
.content{
  text-align: center;
  color: white;
}

/*End of motto section*/

.myt{
  height: 100%;
}

#w4{
  background-color: #039BE5;
}
#w3{
  background-color: #616161;
}
#w2{
  background-color: #616161;
}


#w1{
  background-color: #039BE5;
}
#projects{
  padding-bottom: 30em;
}
.myt{
  padding: 2%;
  width: 50%;
  text-align: center;
}

.myt :hover{
  border-color: black;
}

.contact{
  height: 300px;
  background-image: url(../img/hy.jpg);
  margin-top: 2em;


}
.contact img{
  margin-left: auto;
  margin-left: auto;
  width: 5%;


}



.contact a{
  margin-top: 10px;
  margin-left: 20%;
  padding-top: 5%;
}

.contact h2{
  text-align: center;
  padding: 2%;
  color: white;
}


/*End of projedcts*/
